.App {
  background-color: #072036;
  margin: 5%;
  border: 2px solid black;
  border-radius: 1%;
  color: whitesmoke;
}

.recipes {
  display: grid;
  gap: 50px 0px;
  margin: 30px;
  background-color: #3722D3;
  padding: 3%;
  flex-wrap: wrap;
}

.recipe {
  border: 2px double black;
  margin-right: 5%;
}
.desc {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(173, 173, 173);
  line-height: 0%;
  font-size: small;
  margin-bottom: -30px;
}
.underline {
  background-color: #1DE9B6;
  width: 8%;
  height: 6px;
  line-height: 0;
  margin-top: -20px;
  border-radius: 20%;
  margin-bottom: 5%;
}
.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 70px;
}
.remove {
  background-color: red;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  padding: 1%;
  border-radius: 5%;
  cursor: pointer;
}
.see_more {
  background-color: #00FF84;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: rgb(95, 87, 87);
  padding: 1%;
  border-radius: 5%;
  cursor: pointer;
}
.addRecipe {
  z-index: 2;
}